
.elzero{
    font-size: 70px;
    text-shadow: 4px 1px 2px #d32f2f, 6px 2px 2px #1976d2, 8px 3px 2px #74008b;
    text-align: center;
}
.one,
.two,
.three{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;  
}

.one{
    text-transform: uppercase;
}
.two{
    text-transform: capitalize;
}
.three{
    text-transform: lowercase;
}
.text1,
.text2,
.text3{
    background-color: #eee;
    color: black;
    font-size: 22px;
    padding: 25px;
    width: 400px;
    margin:auto;
    margin-top: 30px;
    line-height: 1.2;
}
.text1{
    white-space: normal;
}
.text2{

}
.text3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a{
    background-color: rgba(14, 150, 150, 0.986);
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-size: 100px;
    display:block;
    width: 400px;
    height: 100px;
    margin:auto;
    margin-top: 20px;
    padding: 50px;
    border-bottom: 25px solid rgb(6, 87, 80);
    letter-spacing: 2px;
}